head
  title Pirijan's Cool Website
  meta(name="description" content="Pirijan's website, nbd")
  link(id="favicon" rel="icon" href="https://glitch.com/favicon.ico" type="image/x-icon")
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="stylesheet" href="/styles/styles.css")

// glitch dark loader background as background , grey scale?

body 
  header
    h1 Please make it simple, radical, and beautiful.
    p I believe that the tools we make should help people express themselves in fun, surprising ways.
    // p I studied biology, then I was a construction worker, then an almost architect. Now I do whatever this is.
    p 🗽 In NYC
    button hi@pketh.org
    p message me

  main
    article
      a(href="#")
        // [glitch fish night]
        h2 Glitch
      p I draw, design and build the interface for Glitch. It's a friendly, opinionated and expressive place to build full web apps                     
    article
      //[frog logo]
      a(href="#")
        h2 Frog Feels
      p Let's draw awkward feelings together
    article
      // [smoking cloud from site]
      a(href="#soundcloud")
        h2 🎹 Good Goods
      p Me and Michelle design the goodest goods for you and your family
    article
      a(href="#")
        h2 pketh.org
      p I write about the craft and challenges of making good software
    //article
    //  a(href="#")
    //    h2 twitter
    
    section
      p save ur art->tweet
    
    footer
      ul
        li
          a(href="#") View Source
        li hi@pketh.org
        li @pketh
        
          
    
  canvas#background

script(src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.5.2/randomColor.min.js")
script(src="/scripts/index.js")
