head
  title Pirijan's Cool Website
  meta(name="description" content="Pirijan's website, nbd")
  link(id="favicon" rel="icon" href="https://glitch.com/favicon.ico" type="image/x-icon")
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="stylesheet" href="/styles/styles.css")

// glitch dark loader background as background , grey scale?

body 
  header
    h1 Please make it simple, radical, and beautiful.
    p I studied biology, then I was a construction worker, then an almost architect. Now I make tools that help people express themselves in fun, surprising ways on the web.
    p 🗽 In NYC
    
  section.cta
    a(href="mailto:hi@pketh.org?subject=Hello 👋")
      button hi@pketh.org

  main
    article.glitch
      a(href="https://glitch.com")
        h2 Glitch
        img(alt="glitch fish" src="https://cdn.glitch.com/5a4a5a24-a349-4dd9-931d-c81392444195%2Flogo-night.svg?1512925903787")
      p I draw, design and build the interface for a friendly and opinionated place to express yourself on the web.
      
    article.frog-feels
      a(href="http://frogfeels.com")
        h2 Frog Feels
        img(alt="frogfeels frog" src="https://cdn.glitch.com/5a4a5a24-a349-4dd9-931d-c81392444195%2Ffrogfeels.png?1512925942088")
      p Let's draw awkward feelings together.
      
    article.good-goods
      a(href="http://goodgoods.biz")
        h2 Good Goods
        img(alt="hand holding mug" src="https://cdn.glitch.com/ba48b5f1-377a-42b0-80c9-5625dcaab9de%2Fmug-hand.svg?1504132368029")
      p
        a(href="https://twitter.com/mjbearheart")= "Michelle"
        span= " "
        span and I design the goodest goods for you and your family. 
        br
        a(href="https://itunes.apple.com/us/podcast/good-goods/id1217665170?mt=2") (itunes)
        span= " "
        a(href="https://soundcloud.com/good-goods") (soundcloud)

    article.blog
      a(href="http://pketh.org")
        // img(alt="writing" src="https://cdn.glitch.com/5a4a5a24-a349-4dd9-931d-c81392444195%2Fblog.png?1512927654335")
        // img(src="https://cdn.glitch.com/5a4a5a24-a349-4dd9-931d-c81392444195%2Fblog-circle.svg?1512927970820")
        h2 φ( °-°)/
      p Writing about the craft and challenges of making nice software.

    //arcticle
    //  a(href="#")
    //    h2 Weather Jobs
    //  p A Mac menubar app with weather info for surfers, bikers, moonwatchers and humans. Fully native/Swift.

  footer
    p
      a(href="https://glitch.com/edit/#!/pirijan") View Source 🎏
    p
      a(href="https://twitter.com/pketh") Twitter
        
          
    
  canvas#background

script(src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.5.2/randomColor.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js")
script(src="/scripts/index.js")
