sans-serif = "Helvetica", Arial, Sans-serif
primary-color = black
primary-background = #c0bfbf

// @font-face
//   font-family: frankfurter
//   font-style: bold
//   src: url('https://cdn.glitch.com/ba48b5f1-377a-42b0-80c9-5625dcaab9de%2Ffrankfurter.woff2?1502065048672')

body
  font-family: sans-serif
  background-color: primary-background
  user-select: none
  padding: 5%

a
  display: inline-block
  text-decoration: none
  color: primary-color
  &:hover
    text-decoration: underline

p
  max-width: 525px
  line-height: 1.2rem
  a
    text-decoration: underline
    &:hover
      text-decoration: none

h2
  display: inline
  margin: 0

button
  background: transparent
  font-size: 16px
  border: 2px solid primary-color
  border-radius: 5px
  padding: 6px 8px
  cursor: pointer
  box-shadow: 2px 2px primary-color
  &:hover
    background: white
  &:active
    color: primary-color
    box-shadow: none
  
main
  margin-top: 1rem
  
article
  margin-top: 2rem
  p
    margin-top: 0.5rem
  img
    height: 30px
    vertical-align: -7px
    margin-left: 0.5rem

// .glitch
//   > a
//     background-color: #fdff9e
    
footer
  border-top: 1px solid grey
  margin-top: 2.5rem
  padding-top: 1rem
    
canvas#background
  position: fixed
  height: 100%
  width: 100%
  top: 0
  left: 0
  z-index: -1
  // transform: translateZ(-1000px)
